@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Font End */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* Frist Work End */

/* Global Work */

.gradient{
    background: linear-gradient(135deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
}

.btn-right{
    margin-right: 10px;
}
.btn-left{
    margin-left: 10px;
}

/* Global Work End */

/* Navbar Design */
nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    border-bottom: 0.001px solid rgba(255, 255, 255, 0.197);
}

ul{
    display: flex;
    gap: 32px;
    color: white;
}
ul li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
}
.icon-subscrib{
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 1rem;    
    font-weight: 600;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}





/* Hero Section */

.hero-container{
    background-color: #1A0B2E;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    
    width: 550px;
    border: 2px solid rgb(30, 0, 255);
    display: grid;
    place-items: center;
    text-align: center;
}
.img-content{
    border: 2px solid rgb(255, 0, 0);
    max-width: 350px;
    max-height: 350px;
    height: 350px;
    width: 350px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(../assets/hero-circle.png);
    margin-bottom: 40px;
    background-size: cover;
    position: relative;
}
.tooltip>p{
    text-align: center;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.hero-text-container h1{
    font-size: 60px;
    margin-bottom: 8px;
    font-weight: 800;
    color: white;
}
.hero-text-container>p{
    color: white;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 200;
}
.btn-group{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.icon-button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 25px;
    color: white;
}
.icon-message{
    border: 1px solid #00FF88;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: #00ff8800;
}

/* Main Section */

.main-container{
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
    color: white;
    text-align: center;
    
}
.main-container h3{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.main-container p{
    font-size: 16px;
    font-weight: 100;
}
.middle-border{
    border: 0.1px solid rgba(255, 255, 255, 0.187);
    margin: 80px 0;
}
.main-summery-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
}
.main-summery-container h4{
    font-size: 48px;
    font-weight: 700;
    color: #00FF88;
    margin-bottom: 16px;
}
.main-summery-container p{
    font-size: 16px;
    font-weight: 200;
}

/* Grid Section */

.grid-section{
    padding: 120px 200px;
    background-color: #230E3D;
    color: white;
}
.grid-section h3{
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.grid-card-container{
    display: grid;
    grid-template-areas: 
    "audio mobile mobile"
    "audio global global"
    "exclusive exclusive rich"
    ;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid-card-container img{
    margin-bottom: 16px;
}
.grid-card-container h5{
    margin-bottom: 16px;
}
.grid-card-container p{

}
.audio-caontainer{
    padding: 110px 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-area: audio;
    max-width: 380px;
}
.mobile-container{
    padding: 40px 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-area: mobile;
}
.global-container{
    padding: 40px 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-area: global;
}
.exclusive-container{
     padding: 40px 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-area: exclusive;
}
.rich-container{
     padding: 40px 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-area: rich;
    max-width: 380px;
}
/* Features Section */
.featured-section{
    background-color: #1A0B2E;
    padding: 120px 200px;
}
.featured-section h2{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    max-width: 1200px;
    margin:  0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.featured-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    
}
.featured-card-content{
     color: white;    
     border-radius: 10px; 
     background-color: #250D44;
}
.video-container{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 215px;
    max-height: 215px;
    background-size: contain;
    background-color: #9100F8;
    position: relative;
}
.video-container iframe{
    width: 100%;
    height: 100%;border: 0;
    border-radius: 10px;
}
.icon-container{
    border: 1px solid red;
    background-color: #00FF88;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    border-radius: 45px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-text-content{
    padding: 24px;
}
.featured-text-content h4{
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 600;
}
.featured-text-content p{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 200;
}
.featured-text-content>div{
    display: flex;
    gap: 10px;
    color: #00FF88;
}