@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Font End */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* Frist Work End */

/* Global Work */

.gradient{
    background: linear-gradient(135deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
}

.btn-right{
    margin-right: 10px;
}
.btn-left{
    margin-left: 10px;
}

nav div{
    border: 2px solid rgb(255, 0, 0);
}

/* Global Work End */

/* Navbar Design */
nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    border-bottom: 0.001px solid rgba(255, 255, 255, 0.197);
}

ul{
    display: flex;
    gap: 32px;
    color: white;
}
ul li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
}
.icon-subscrib{
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 1rem;    
    font-weight: 600;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}





/* Hero Section */

.hero-container{
    background-color: #1A0B2E;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    
    width: 550px;
    border: 2px solid rgb(30, 0, 255);
    display: grid;
    place-items: center;
    text-align: center;
}
.img-content{
    border: 2px solid rgb(255, 0, 0);
    max-width: 350px;
    max-height: 350px;
    height: 350px;
    width: 350px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(../assets/hero-circle.png);
    margin-bottom: 40px;
    position: relative;
}
.tooltip>p{
    text-align: center;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.hero-text-container h1{
    font-size: 60px;
    margin-bottom: 8px;
    font-weight: 800;
    color: white;
}
.hero-text-container>p{
    color: white;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 200;
}
.btn-group{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.icon-button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 25px;
    color: white;
}
.icon-message{
    border: 1px solid #00FF88;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: #00ff8800;
}

/* Main Section */

.main-container{
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
    color: white;
    text-align: center;
    
}
.main-text-content{
    border: 1px solid rebeccapurple;
}
.main-container h3{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.main-container p{
    font-size: 16px;
    font-weight: 100;
}
.middle-border{
    border: 0.1px solid rgba(255, 255, 255, 0.187);
    margin: 80px 0;
    border: 1px solid rebeccapurple;
}
.main-summery-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border: 1px solid rebeccapurple;
    text-align: center;
}
.main-summery-container h4{
    font-size: 48px;
    font-weight: 700;
    color: #00FF88;
    margin-bottom: 16px;
}
.main-summery-container p{
    font-size: 16px;
    font-weight: 200;
}

